.search {
  background-color: #000;
  height: 220px;
  width: 100%;
}
.search .row {
  margin: 5% 0 0 25%;
}
.photo {
  float: left;
  margin: 5px;
  height: 100px;
  width: 100px;
}
.modal-dialog {
  width: 100%;
  height: 100%;
}
.close {
  opacity: 1 !important;
}
.modal-content {
  background-color: transparent !important;
  height: 99%;
  width: 99%;
}
.modal-body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
}
